<html lang="en">
  <head>
    <title>ConvoBot</title>
    <meta charset="utf-8">
    <meta name="author" content="Nathan Atkins">
    <meta name="description" content="ConvoBot - Convolutional Neural Network meets M-Bot Ranger">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="icon" href="image/favicon.ico" type="image/x-icon">
  </head>

 <body>
    <nav id = "nav1">
      <ul class = "inline1">
        <li><a href="/">Home</a></li>
        <li><a href="simulation">Simulation</a></li>
        <li><a href="error">Error</a></li>
        <li><a href="robot">Robot</a></li>
        <li><a href="stereoscopic">Stereoscopic Vision</a></li>
        <li class = "active"><a href="blender">Blender</a></li>
      </ul>
    </nav>
    <div  class = "mainDiv" style="text-align:center">
      <h1>Blender Examples</h1>
      <table align="center">
        <tr>
          <td align="center">
            <img src="https://static1.squarespace.com/static/58586fa5ebbd1a60e7d76d3e/t/5909fab6b3db2b874be357ec/1493826329216/?format=1500w"
                  height=200px alt="Complex outdoor environment">
            <p>Complex organic outdoor environment.</p?
          </td>
          <td align="center">
            <img src="https://static1.squarespace.com/static/58586fa5ebbd1a60e7d76d3e/t/5909fc4b6b8f5bde910e157b/1493826647996/?format=1500w"
                  height=200px alt="Detailed car and reflective surfaces.">
            <p>Detail to allow pixel level labeling of data for image segementation (Identifying objects and their extents in an image.)
          </td>
        </tr>
        <tr>
          <td align="center">
            <img src="https://static1.squarespace.com/static/58586fa5ebbd1a60e7d76d3e/t/5909fd58197aea2c7d67e971/1493826919404/?format=1500w"
                  height=200px alt="Combination of photo and rendered image.">
            <p>Photo background with rendered foreground motor cycle.</p>
          </td>
          <td align="center">
            <img src="https://static1.squarespace.com/static/58586fa5ebbd1a60e7d76d3e/t/5909fdc215cf7d53da6c08cb/1493827015962/?format=1500w"
                  height=200px alt="Furniture">
            <p>Furniture labeling.</p>
          </td>
        </tr>
      </table>
      <p>Thanks to blender guru for sharing these examples.
      <div class = "mainDiv">
        <a href='https://www.blenderguru.com/articles/24-photorealistic-blender-renders'>Blender Render 24 best example images.</a>
      </div>
    </div>
  </body>
</html>
