<html lang="en">
  <head>
    <title>ConvoBot</title>
    <meta charset="utf-8">
    <meta name="author" content="Nathan Atkins">
    <meta name="description" content="ConvoBot - Convolutional Neural Network meets M-Bot Ranger">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="icon" href="image/favicon.ico" type="image/x-icon">
  </head>

 <body>
    <nav id = "nav1">
      <ul class = "inline1">
        <li><a href="/">Home</a></li>
        <li><a href="simulation">Simulation</a></li>
        <li><a href="error">Error</a></li>
        <li><a href="robot">Robot</a></li>
        <li><a href="stereoscopic">Stereoscopic Vision</a></li>
        <li class = "active"><a href="blender">Blender</a></li>
      </ul>
    </nav>
    <div class = "mainDiv">
      <h1>Blender Examples</h1>
      <a href='https://www.blenderguru.com/articles/24-photorealistic-blender-renders'>Blender Render 24 best example images.</a>
    </div>
  </body>
</html>
