<html lang="en">
  <head>
    <title>ConvoBot</title>
    <meta charset="utf-8">
    <meta name="author" content="Nathan Atkins">
    <meta name="description" content="ConvoBot - Convolutional Neural Network meets M-Bot Ranger">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="icon" href="image/favicon.ico" type="image/x-icon">
  </head>

 <body>
    <nav id = "nav1">
      <ul class = "inline1">
        <li><a href="/">Home</a></li>
        <li><a href="simulation">Simulation</a></li>
        <li><a href="error">Error</a></li>
        <li class = "active"><a href="robot">Robot</a></li>
        <li><a href="stereoscopic">Stereoscopic Vision</a></li>
        <li><a href="blender">Blender</a></li>
      </ul>
    </nav>
    <div class = "mainDiv" style="text-align:center">
      <h1>Robot</h1>

      <p align="center">
        <h2>ConvoBot</h2>
        <img width="512" src="{{url_for('static', filename='images/2017-10-10/IMG_1502.jpg')}}" />
      </p>

      <p align="center">
        <h2>Real Block Environement</h2>
        <img width="512" src="{{url_for('static', filename='images/2017-10-10/IMG_0867.jpg')}}" />
      </p>

      <p align="center">
        <h2>Left and Right Camera Images</h2>
        <img width="256" src="{{url_for('static', filename='images/2017-10-10/IMG_0869.jpg')}}" />
        <img width="256" src="{{url_for('static', filename='images/2017-10-10/IMG_0868.jpg')}}" />
      </p>

      <p align="center">
        <h2>ConvoBot on the Move</h2>
        <p align="center">
          <video width="512" controls>
            <source src="{{url_for('static', filename='images/2017-10-10/out.mp4')}}" type="video/mp4">
          </video>
          <!-- <img width="512" src="{{url_for('static', filename='images/2017-10-10/out.mp4')}}" /> -->
        <p>
        Video of ConvoBot being manually controlled.  I haven't completed the navigation
        controller yet as I got distracted with exploring the data science aspects
        of the steroscopic vision.
      </p>
      </p>
    </div>
  </body>
</html>
